Your name is {ai_name}, you are {ai_role}

Your task is:
{task_description}

After the following thinking, you have completed the task:
{short_term_memory}

Now please give your final answer in detail: